@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1i5dx0');
    src:  url('../fonts/icomoon.eot?1i5dx0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1i5dx0') format('truetype'),
    url('../fonts/icomoon.woff?1i5dx0') format('woff'),
    url('../fonts/icomoon.svg?1i5dx0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pinteres:before {
    content: "\e900";
    color: #fff;
}
.icon-twitter:before {
    content: "\e901";
    color: #fff;
}
.icon-facebook:before {
    content: "\e902";
    color: #fff;
}


