* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.listreset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 38px;
    padding-bottom: 38px;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-banner {
    min-height: 990px;
    background-color: #090909;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.logo a {
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    font-family: 'Merriweather', serif, Arial, SansSerif;
}

.nav-holder {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    color: #ffffff;
    font-family: 'Merriweather', serif, Arial, SansSerif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
    margin-right: 56px;
}

/*Style for description*/
.description {
    top: 300px;
    left: 12px;
    width: 464px;
    position: absolute;
}

.description h1 {
    margin: 0;
    font-size: 80px;
    color: #ffffff;
}

.autor-style {
    text-decoration: line-through;
    text-decoration-color: black;
}

.description p {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
}

.content-position {
    margin-top: 40px;
}

.btn-shop {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 18px 12px;
    font-size: 18px;
    line-height: 1.5;
}

.button:hover {
    box-shadow: 0 0 12px #C9402D;
    border-radius: 1px;
}

.button {
    width: 224px;
    height: 60px;
    background-color: #C9402D;
}
/*.section-form {*/
/*    padding: 40px 0;*/
/*}*/

/*.section-form .container {*/
/*    max-width: 1200px;*/
/*}*/
/*Slider*/


@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .toggle-nav .menu {
        display: block;
    }

    .main-nav {
        display: flex;
        top: 100%;
    }

    .menu li {
        padding: 4px;
    }
}

.menu li + li {
    margin-left: 57px;
}

@media screen and (max-width: 768px) {
    .menu li + li {
        margin-left: 0;
    }
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover:after {
    background-color: #C9402D;
}

.menu a:after {
    transition: background-color .3s;
    width: 110%;
    display: block;
    content: '';
    height: 1px;
    background-color: transparent;
}

.menu li.active a:after {
    background-color: #C9402D;
}

.soc-list {
    display: flex;
}

.soc-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
}

.soc-list li + li {
    margin-left: 16px;
}

.soc-list li:hover a {
    transform: rotateY(360deg);
}

.soc-list a {
    text-decoration: none;
    line-height: 1;
    transition: .3s transform;
}

@media screen and (max-width: 768px) {
    .soc-list {
        display: none;
    }
}

.toggle-btn {
    width: 25px;
    display: none;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block;
    }
}

.toggle-btn:before,
.toggle-btn:after {
    display: block;
    height: 2px;
    content: '';
    background-color: #fff;
}

.toggle-btn span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
}







